aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
asgiref @ file:///work/ci_py311/asgiref_1676843199969/work
async-timeout==4.0.3
attrs==23.1.0
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
db-dtypes==1.1.1
Django @ file:///work/ci_py311/django_1676851927387/work
frozenlist==1.4.0
google-api-core==2.11.1
google-auth==2.23.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
idna==3.4
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
multidict==6.0.4
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1691091611330/work
packaging==23.1
pandas @ file:///croot/pandas_1692289311655/work
proto-plus==1.22.3
protobuf==4.24.3
psycopg2 @ file:///croot/psycopg2_1687443444440/work
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyJWT==2.8.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///work/ci_py311/pytz_1676825004346/work
requests==2.31.0
rsa==4.9
six @ file:///tmp/build/80754af9/six_1644875935023/work
sqlparse @ file:///croot/sqlparse_1690901927333/work
twilio==8.8.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==1.26.16
yarl==1.9.2
