agate==1.6.3
aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
anyio
appnope==0.1.3
argon2-cffi
argon2-cffi-bindings
asgiref==3.5.2
astroid==2.12.4
asttokens
async-timeout==4.0.3
attrs==22.1.0
Babel==2.10.3
backcall
beautifulsoup4
bleach
boto3==1.24.61
botocore==1.27.61
brotlipy==0.7.0
cachetools==5.2.0
certifi
cffi
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
cryptography
db-dtypes==1.0.4
dbt-bigquery==1.2.0
dbt-core==1.2.0
dbt-extractor==0.4.1
debugpy
decorator
defusedxml
dill==0.3.5.1
Django==4.1
entrypoints
executing==0.10.0
fastjsonschema
flake8==5.0.4
frozenlist==1.4.0
future==0.18.2
google-api-core==2.11.1
google-auth==2.23.0
google-auth-oauthlib==0.5.3
google-cloud-bigquery==2.34.4
google-cloud-bigquery-storage==2.16.0
google-cloud-core==2.3.2
google-cloud-secret-manager==2.16.4
google-cloud-storage==2.5.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
greenlet==1.1.3
grpc-google-iam-v1==0.12.6
grpcio==1.47.0
grpcio-status==1.47.0
hologram==0.0.15
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isodate==0.6.1
isort==5.10.1
jedi
Jinja2
jmespath==1.0.1
json5
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
lazy-object-proxy==1.7.1
leather==0.3.4
Logbook==1.5.3
MarkupSafe
mashumaro==2.9
matplotlib-inline
mccabe==0.7.0
metaflow==2.7.7
minimal-snowplow-tracker==0.0.2
mistune
msgpack==1.0.4
multidict==6.0.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==2.8.5
notebook
numpy==1.23.2
oauthlib==3.2.1
packaging
pandas==1.4.3
pandas-gbq==0.17.8
pandocfilters
parsedatetime==2.4
parso
pexpect
pickleshare
platformdirs==2.5.2
ply==3.11
prometheus-client
prompt-toolkit==3.0.30
proto-plus==1.22.0
protobuf
psutil==5.9.1
psycopg2==2.9.3
ptyprocess
pure-eval
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser
pydata-google-auth==1.4.0
pyflakes==2.5.0
Pygments==2.13.0
PyJWT==2.8.0
pylint==2.15.0
pyngrok==6.0.0
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent==0.18.1
PySocks
python-dateutil
python-environ==0.4.54
python-slugify==6.1.2
pytimeparse==1.1.8
pytz==2022.2.1
PyYAML==6.0
pyzmq==23.2.1
qtconsole
QtPy
requests
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
Send2Trash
sip
six
sniffio
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
sqlparse==0.4.2
stack-data
terminado
testpath
text-unidecode==1.3
tinycss2==1.1.1
toml
tomli==2.0.1
tomlkit==0.11.4
tornado==6.2
traitlets==5.3.0
twilio==8.8.0
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.1.2
widgetsnbextension
wrapt==1.14.1
yarl==1.9.2
zipp==3.8.1
