<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recommendations Page</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'foodie/index.css' %}">
    </head>
  <body>
    <div class="container bg-light vh-100">
        <div class = "row">
            <div class="col">
                <img src="../../static/foodie/images/sample-logo-four.png" class="img-fluid" alt="Logo">
            </div>
        </div>
        <div class="row"> 
            <h2 class="text-center">Welcome to Foodie</h2>
            <br></br>
        </div>
        <div class="row"> 
            <div class="col-1"></div>
            <div class="col-10"></div>
                <p>
                    Foodie's mission is to help you discover the best restaurants in your city for any occassion.
                </p>
                <p>
                    We're just getting started, and we invite you to help build out our platform by participating in this demo.
                </p>
                <p>How it works: </p>
                <p>1) Everyday at 8am, our Recs page will update with a new set of 5 restaurants picked just for you.</p>
                <p>2) You can save restaurants to your personal list, which can be accessed from your profile page.</p>
                <p>3) If you end up visiting a restaurnt on your list, you can help us and other Foodies out by leaving a review.</p>
                <p>To get started, please enter your neighborhood to recieve your first set of personalized recs:</p>
                <form action="go/" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input id="neighborhood" name="neighborhood" type="text" class="form-control" placeholder="ex: Williamsburg, East Village, etc." aria-label="Rating" aria-describedby="basic-addon1">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="center btn btn-success">Continue</button>
                    </div>
                </form>
            <div class="col-1"></div>
        </div>
    </div>
</body>
</html>