<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Test Recommendations Page</title>
  </head>
  <body>
    <h1>{{ recs_list.name }}</h1>
        <ul>
        <ul>
        {% for restaurant in restaurant_list %}
            <li>{{ restaurant.name }}</li>
            <form action="{{ restaurant.id }}/" method="post">
                {% csrf_token %}
                <input type="submit" value="Save" />
            </form>
        {% endfor %}
        </ul>
  </body>
</html>
