<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recommendations Page</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'foodie/index.css' %}">
    </head>
    <body>
        <div class="container bg-light">
            <div class = "row">
                <div class="col">
                    <img src="../../static/foodie/images/sample-logo-four.png" class="img-fluid" alt="Logo">
                </div>
                <div class="col">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-primary disabled" href="#">Recs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="{% url 'foodie:user_profile' %}">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class = "row">
                <h1 class="text-center">{{ recs_list.name }}</h1>
            </div>
            {% for restaurant in restaurant_list %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="container-md">
                        <div class="row">
                            <div class="col-6">
                                <h4>{{ restaurant.name }}</h4>
                                <p class="fs-6">
                                    {{ restaurant.address }},
                                    <br>
                                    {{ restaurant.neighborhood }}
                                </p>
                            </div>
                            <div class="col text-end">
                                <p>
                                    {{ restaurant.cuisine }} 
                                    <br> 
                                    ${{ restaurant.price_range }} - ${{ restaurant.price_range }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                {% for tag in restaurant.tags %}
                                <span class="badge rounded-pill text-bg-dark">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            
                        </div>
                        <div class="row float-end">
                            <div class="col">
                                <a class="btn btn-primary" href="{{ restaurant.menu_url }}" target="_blank" rel="noopener noreferrer" role="button">Menu</a>
                            </div>
                            <div class="col">
                                <form action="/foodie/recs/save/{{ restaurant.id }}/" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Save</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="divider py-1 bg-light"><hr></div>
                        </div>
                    </div>

                    
                </div>
                <div class="col-1"></div>
            </div>
            {% endfor %}
            <!-- <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    {% for restaurant in restaurant_list %}
                        <div class="card border-light text-bg-primary mb-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ restaurant.name }}</h5>
                                <p class="card-subtitle mb-2 text-muted">{{ restaurant.address }}, <br> {{ restaurant.neighborhood }}</p>
                                <p class="card-text">{{ restaurant.cuisine }}</p>
                                <p class="card-text">{{ restaurant.tags }}</p>
                                <p class="card-text">{{ restaurant.price_range }}</p>
                                <form action="/foodie/recs/save/{{ restaurant.id }}/" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-1"></div>
            </div> -->
        </div>
    </body>
</html>